<template name="homeScreen">
<div id="transitions-container">
	<div class="container homeContainer">
		<div class="ui  small modal">
			<!-- <i class="close icon"></i> -->
			<!-- <div class="header">
						Volume Slider
			</div> -->
			<div class="content">
				<!-- <div class="image"> -->
				<!-- </div> -->
				<div class="description">
					<div class="row">
						<div class="column"><div id="slider"></div></div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="ui grid">
			<div class="three wide column noPaddingRight shadowCat">
				{{#if standardMenu}}
				<div class="row">
					<div class="sixteen wide column sideNav odd" id="launchButton"><div class="center aligned"><h1><img class="menuImg" src="/images/launch2.png" alt=""></h1></div><div class='center aligned'>Launch</div></div>
					<div class="sixteen wide column sideNav even" id="myInfo"><div class="center aligned"><h1><i class=" user icon"></i></h1></div><div class='center aligned'>My Info</div></div>
					<div class="sixteen wide column sideNav odd" id='volume'><div class="center aligned"><h1><i class=" volume up icon"></i></h1></div><div class='center aligned'>Volume</div></div>
					<div>{{{dndEnabled}}}</div>
				</div>
				{{/if}}
				{{#if backScreen}}
				<div class="sixteen wide column  odd fullHeight" id='backButton'><div class=" halfDown"><h1><i class=" arrow circle left icon directoryIcon"></i></h1></div><div class='center aligned'></div></div>
				{{/if}}
				{{#if inCallMenu}}
				<div class="row">
					<div class="sixteen wide column sideNav endCall" id="endCall"><div class="center aligned"><img src="/images/end.png" alt=""></div><div class='center aligned'>End</div></div>
					<div class="sixteen wide column sideNav even" id="myInfo"><div class="center aligned"><h1><i class=" user icon"></i></h1></div><div class='center aligned'>UI</div></div>
					<div class="sixteen wide column sideNav odd"><div class="center aligned"><h1><i class=" volume up icon"></i></h1></div><div class='center aligned'>is</div></div>
					<div class="sixteen wide column sideNav even " id="dndButton"><div class="center aligned" id="dndText"><h1><i class=" dont icon"></i></h1></div><div class='center aligned' id='dndText2'>Active</div></div>
				</div>
				{{/if}}
				
			</div>
			<div class="thirteen wide column noPadding ">
				<div class="statusBar noShadow">
					<!-- add divided class to this later -->
					<div class="ui  grid">
						<div class="row">
							<div class="thirteen wide column">
								<div class="right aligned" id='easterEgg'>{{location}}</div>
							</div>
							<div class="column"><div class="right aligned">{{{icon}}}</div></div>
							<div class="column"><div class="right aligned">{{{recordingIcon}}}</div></div>
						</div>
					</div>
				</div>
				{{#if myInfo}}
				<div class="features ui grid noMargin">
					<div class="four wide column greyOdd" id="myInfo">My info Panel</div>
					<div class="four wide column greyEven">More stuff</div>
					<div class="four wide column greyOdd">Calls n stuff</div>
					<div class="four wide column greyEven">Testing look</div>
				</div>
				{{/if}}
				{{#if homeScreen}}
				<div class="features ui grid noMargin" style="overflow-y:auto;white-space:nowrap;">
					<div class="four wide column greyOdd" id="call"><div class="iconDown center aligned"><img src="/images/Callicon.png" alt=""></div><div class="iconDescription center aligned"><h1>Call</h1></div></div>
					<div class="five wide column greyEven" id="present"><div class="iconDown center aligned"><i class="laptop icon"></i></div><div class="iconDescription center aligned"><h1>Present</h1></div></div>
					<div class="five wide column greyOdd" id="record"><div class="iconDown center aligned"><i class=" toggle right icon"></i></div><div class="iconDescription center aligned"><h1>Record</h1></div></div>
					<div class="five wide column greyEven" id='move'><div class="iconDown center aligned"><i class="move icon"></i></div><div class="iconDescription center aligned"><h1>Move</h1></div></div>
					<div class="five wide column greyOdd" id='system'><div class="iconDown center aligned"><i class="settings icon"></i></div><div class="iconDescription center aligned"><h1>System</h1></div></div>
					<div class="four wide column greyEven" id="sleep"><div class="iconDown center aligned"><i class="power icon"></i></div><div class="iconDescription center aligned"><h1>Sleep</h1></div></div>
				</div>
				{{/if}}
				{{#if directory}}
				{{> contactList}}
				{{/if}}
				{{#if move}}
				{{> moveView}}
				{{/if}}
				{{#if favorites}}
				{{> contactList}}
				{{/if}}
				{{#if call}}
				<div class="features ui grid noMargin" style="overflow-y:auto;white-space:nowrap;">
					<div class="five wide column greyOdd" id="recents"><div class="iconDown center aligned"><i class="wait icon"></i></div><div class="iconDescription center aligned"><h1>Recents</h1></div></div>
					<div class="five wide column greyEven" id="favorites"><div class="iconDown center aligned"><i class="star icon"></i></div><div class="iconDescription center aligned" id='favorites'><h1>Favorites</h1></div></div>
					<div class="five wide column greyOdd" id="meetings"><div class="meetingDown center aligned"><img src="/images/meeting2.png" alt=""></div><div class="iconDescription center aligned"><h1>Meetings</h1></div></div>
					<div class="five wide column greyEven" id='directory'><div class="iconDown center aligned"><i class="users icon"></i></div><div class="iconDescription center aligned"><h1>Directory</h1></div></div>
					<div class="five wide column greyOdd " id='keypad'><div class="iconDown center aligned"><i class="text telephone icon"></i></div><div class="iconDescription center aligned"><h1>Keypad</h1></div></div>
				</div>
				{{/if}}
				{{#if callUI}}
				<div class="features ui grid noMargin" style="overflow-y:auto;white-space:nowrap;">
					<div class="four wide column greyOdd" id="call"><div class="iconDown center aligned"><i class="add user icon"></i></div><div class="iconDescription center aligned"><h1>Add</h1></div></div>
					<div class="five wide column greyEven" id="callPresent"><div class="iconDown center aligned"><i class="laptop icon"></i></div><div class="iconDescription center aligned" id='callPresent'><h1>Present</h1></div></div>
					<div class="five wide column greyOdd" id='move'><div class="iconDown center aligned"><i class="move icon"></i></div><div class="iconDescription center aligned"><h1>Move</h1></div></div>
					<div class="five wide column greyEven" id="record"><div class="iconDown center aligned"><i class=" toggle right icon"></i></div><div class="iconDescription center aligned"><h1>Record</h1></div></div>
			
				</div>
				{{/if}}
				{{#if record}}
				<div class="features ui grid noMargin">
					<div class="five wide column greyOdd" id="camera"><div class="iconDown center aligned"><i class="camera icon"></i></div><div class="iconDescription center aligned"><h1>Camera</h1></div></div>
					<div class="five wide column greyEven" id="presentation"><div class="iconDown center aligned"><i class="laptop icon"></i></div><div class="iconDescription center aligned"><h1>Presentation</h1></div></div>
					<div class="five wide column greyOdd">Dual Stream</div>
					
				</div>
				{{/if}}
				{{#if system}}
				<div class="features ui grid noMargin">
					<div class="four wide column greyOdd" id="enableRecordIcon">Local View</div>
					<div class="four wide column greyEven">Health</div>
					<div class="four wide column greyOdd">Brightness</div>
					<div class="four wide column greyEven">Reboot</div>
				</div>
				{{/if}}
				{{#if recents}}
				{{> contactList}}
				{{/if}}
				{{#if keypad}}
				{{> keypadView}}
				{{/if}}
				{{#if callPresent}}
				{{> inCall}}
				{{/if}}
			</div>
			
		</div>
	</div>
</div>
</template>