<template name="launch">
	<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<div class="row">
	<div class="background-image"></div>
	<div class="splash" id='splash'>
		<div class="statusBar center aligned">AUS 2 Shiner (1277@lifesizecloud.com)</div>
		<div class="splashContent">
			<div class="ui three column  equal height grid">
				<div class="row">
					
					<div class="seven wide column lightFont timePad">
						<div class='bigTime center aligned '>{{localTime}}</div>
						<div class="center aligned">{{date}}</div>
					</div>
					<div class="six wide column mainButtons buttonPad">
						<div class="ui two column  equal height grid ">
							<div class="row">
								<div class=" column"><div class="greenSquare center aligned moveUI"><div class="imgPad"><img src="/images/pngs/cameraBlack.png" alt=""><h2 class='iconCenter'>Move</h2></div></div></div>
								<div class=" column"><div class="greenSquare center aligned MBU"><div class="vertCent"><h2>MBU <br> Meeting</h2></div></div></div>
							</div>
							<div class="row">
								<div class=" column"><div class="greenSquare center aligned london"><div class="vertCent"><h2>London Meeting</h2></div></div></div>
								<div class=" column"><div class="greenSquare center aligned tokyo"><div class="vertCent"><h2>Yelp <br> Meeting</h2></div></div></div>
							</div>
						</div>
						<!-- <div class="ui two column  equal height grid noPaddingRight">
									<div class="row">
												<div class=" column"><div class="greenSquare">Twitter Meet</div></div>
												<div class=" column"><div class="greenSquare">Yelp Meet</div></div>
									</div>
						</div> -->
					</div>
					<div class="one wide column center aligned launchDown"><i class="white  angle right icon"></i></div>
				</div>
			</div>
		</div>
	<div class="timezones daPurps">
		<div class="ui divided grid">
			<div class="row">
				<div class="four wide column center aligned"><div> {{pacificTime}}</div> <div class='smallTime'>TOKYO</div></div>
				<div class="four wide column center aligned"><div>{{mountainTime}}</div> <div class='smallTime'>DENVER</div></div>
				<div class="four wide column center aligned"><div>{{centralTime}}</div> <div class='smallTime'>NEW YORK</div></div>
				<div class="four wide column center aligned"><div>{{easternTime}}</div> <div class='smallTime'>LONDON</div></div>
			</div>
		</div>
	</div>
	</div>
</div>
</template>