<template name="launch">
<div class="row">
	<div class="statusbar"></div>
	<div class="splash">
		<div class="ui two column divided equal height grid">
			<div class="row">
				
				<div class="column">
					<div class='bigTime center aligned'>{{localTime}}</div>
					<div>{{date}}</div>
				</div>
				<div class="column">
					<div class="ui two column  equal height grid ">
						<div class="row">
							<div class=" column"><div class="greenSquare">Help Desk</div></div>
							<div class=" column"><div class="greenSquare">MCU</div></div>

						</div>
						<div class="row">
							<div class=" column"><div class="greenSquare">Twitter Meet</div></div>
							<div class=" column"><div class="greenSquare">Yelp Meet</div></div>
						</div>
					</div>
					<!-- <div class="ui two column  equal height grid noPaddingRight">
						<div class="row">
							<div class=" column"><div class="greenSquare">Twitter Meet</div></div>
							<div class=" column"><div class="greenSquare">Yelp Meet</div></div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="timezones">
		<div class="ui divided grid">
			<div class="row">
				<div class="four wide column center aligned"><div> {{pacificTime}}</div> <div>PACIFIC</div></div>
				<div class="four wide column center aligned"><div>{{mountainTime}}</div> <div>MOUNTAIN</div></div>
				<div class="four wide column center aligned"><div>{{centralTime}}</div> <div>CENTRAL</div></div>
				<div class="four wide column center aligned"><div>{{easternTime}}</div> <div>EASTERN</div></div>
			</div>
		</div>
	</div>
</div>
</template>