@import 'variables';
@import 'lib/elements';

.bigTime{
	//so much larger than life
	font-size: 100px;
	padding-top: 5vh;
}

.smallTime{
	font-size: 10px;
}

.greenSquare{
	height: 75px !important;
	width: 95px !important;
	background-color: @pukeGreenLight !important;
}

.splash{
	background-image: url(/images/background/skyline.jpg);
	height: 94%;
}

.lightFont{
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.daPurps{
	background-color: #41395a;
	color: #fff;
	.ui.divided.grid:not([class*="vertically divided"]) > .row > .column {
	  box-shadow: -1px 0px 0px 0px white;
	}
}

// .noMargin{
// 	.column{
// 	overflow-y: scroll !important;
// }
// }
.vertCent{
	padding-top: 25%;
}


.mainButtons{
	.ui.grid > .row {
		padding: 10px 34px 15px 15px !important;
	}
}

.timePad{
	padding-top: 8%;
}
