@import 'variables';
@import 'lib/elements';

.bigTime{
	//so much larger than life
	font-size: 60px;
	padding-top: 5vh;
}

.greenSquare{
	height: 75px !important;
	width: 95px !important;
	background-color: @pukeGreenLight !important;
}