<template name="contactList">
{{#if recents}}
<div class="sixteen wide column" style="overflow-y:auto;  height: 470px;">
	<!-- <div class="row">
		<div class="thirteen wide column">
			<div class="ui left icon  input">
				<input type="text" placeholder="Search Recents">
				<i class="search icon"></i>
			</div>
			
		</div>
		<div class="three wide column "><h1><i class="edit icon"></i></h1></div>
	</div> -->
	<!-- <form class="ui form">
	  
	  <div class="two fields">
	  	<div class="field">
	  		<div class="ui left icon  input">
	  			<input type="text" placeholder="Search Recents">
	  			<i class="search icon"></i>
	  		</div>
	  	</div>
	  	<div class="field">
	  		<h1><i class="edit icon"></i></h1>
	  	</div>
	  </div>
	</form> -->

<table class="ui striped celled table">
	
	<tbody>
		{{# each recentsList}}
		
			
			{{#if and available favorite}}
			<tr>
	        		<td><a href="/call/{{_id}}"><i class="green circle icon"></i><span class="favName">{{name}} </span><span class="date">THU</span><br>{{extension}}</a></td>
	        		<td class='directoryPhone center aligned'><a href='/call/{{_id}}'><h1><i class="call icon canCall"></i></h1></a></td>
	        		<td class='availableCell center aligned'><h1>★</h1></td></tr>
	        		{{/if}}
	        		{{#if not favorite available }}
	        		<tr><td><i class="green  circle icon"></i>{{name}} <br>{{extension}}</td>
	        		<td class='center aligned'><h1><i class="  call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td></tr>
	        		{{/if}}
	        		{{#if not available favorite}}
	        		<tr>
	        		<td><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class=''>★</h1></td> </tr>
	        		{{/if}}
	        		{{#if neither available favorite}}
	        		<tr>
	        		<td><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td></tr>
	        		{{/if}}

		
		{{/each}}
	</tbody>
</table>
</div>
{{/if}}
{{#if directory}}
<div style="overflow-y:auto;  height: 470px;">
	{{> esInput index="cloudUsers" placeholder="Search..." }}
	<div style="overflow-y:auto;  height: 470px;">
	<table class="ui striped celled table">
	
	   <tbody>
	      
	       {{#esEach index="cloudUsers"}}
	           {{#if and available favorite}}
			<tr>
	        		<td><a href="/call/{{_id}}"><i class="green circle icon"></i><span class="">{{name}} </span><span class="date">THU</span><br>{{extension}}</a></td>
	        		<td class='directoryPhone center aligned'><a href='/call/{{_id}}'><h1><i class="call icon canCall"></i></h1></a></td>
	        		<td class='availableCell center aligned'><h1>★</h1></td></tr>
	        		{{/if}}
	        		{{#if not favorite available }}
	        		<tr><td class='recentName'><a href="/call/{{_id}}"><i class="green  circle icon"></i>{{name}} <br>{{extension}}</a></td>
	        		<td class='center aligned'><h1><i class="  call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td></tr>
	        		{{/if}}
	        		{{#if not available favorite}}
	        		<tr>
	        		<td class='recentName'><a href="/call/{{_id}}"><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</a></td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class=''>★</h1></td> </tr>
	        		{{/if}}
	        		{{#if neither available favorite}}
	        		<tr>
	        		<td class='recentName'><a href="/call/{{_id}}"><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</a></td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td></tr>
	        		{{/if}}

		
		
	       {{/esEach}}
	       {{#ifEsHasNoResults index="cloudUsers"}}
	               <div class="no-results">No results found!</div>
	        {{/ifEsHasNoResults}}
	        {{#ifEsInputIsEmpty index="cloudUsers"}}
	        	{{# each recentsList}}
	        	{{#if and available favorite}}
			<tr>
	        		<td><a href="/call/{{_id}}"><i class="green circle icon"></i><span class="recentName">{{name}} </span><span class="date">THU</span><br>{{extension}}</a></td>
	        		<td class='directoryPhone center aligned'><a href='/call/{{_id}}'><h1><i class="call icon canCall"></i></h1></a></td>
	        		<td class='availableCell center aligned'><h1>★</h1></td></tr>
	        		{{/if}}
	        		{{#if not favorite available }}
	        		<tr><td class='recentName'><a href="/call/{{_id}}"><i class="green  circle icon"></i>{{name}} <br>{{extension}}</a></td>
	        		<td class='center aligned'><h1><i class="  call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td></tr>
	        		{{/if}}
	        		{{#if not available favorite}}
	        		<tr>
	        		<td class='recentName'><a href="/call/{{_id}}"><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</a></td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class=''>★</h1></td> </tr>
	        		{{/if}}
	        		{{#if neither available favorite}}
	        		<tr>
	        		<td class='recentName'><a href="/call/{{_id}}"><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</a></td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td></tr>
	        		{{/if}}

		
		
	        	{{/each}}
	        {{/ifEsInputIsEmpty}}	

	      
	   </tbody>
	
	</table>
	</div>
	  
</div>

{{/if}}
{{#if favorites}}
<div style="overflow-y:auto;  height: 470px;">
	{{> esInput index="cloudUsers" placeholder="Search..." }}
	<div style="overflow-y:auto;  height: 470px;">
	<table class="ui striped celled table">
	
	   <tbody>
	      
	       {{#esEach index="cloudUsers"}}
	           {{#if and available favorite}}
	           			<tr>
	           			<td><a href="/call/{{_id}}"><i class="green circle icon"></i><span class="favName">{{name}} </span><br>{{extension}}</a></td>
	           			<td class='directoryPhone center aligned'><h1><i class="call icon canCall"></i></h1></td>
	           			<td class='availableCell center aligned'><h1>★</h1></td>
	           			</tr>
	           			<!-- {{else}}
					<tr>
	           			<td><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</td>
	           			<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	           			<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td>
	           		</tr> -->
	           			{{/if}}

	       {{/esEach}}
	       {{#ifEsHasNoResults index="cloudUsers"}}
	               <div class="no-results">No results found!</div>
	        {{/ifEsHasNoResults}}
	        {{#ifEsInputIsEmpty index="cloudUsers"}}
	        	{{# each recentsList}}
	        	<tr>
	        		
	        		{{#if and available favorite}}
	        		<td><a href="/call/{{_id}}"><i class="green circle icon"></i><span class="favName">{{name}} </span><span class="date">THU</span><br>{{extension}}</a></td>
	        		<td class='directoryPhone center aligned'><a href='/call/{{_id}}'><h1><i class="call icon canCall"></i></h1></a></td>
	        		<td class='availableCell center aligned'><h1>★</h1></td>
	        		<!-- {{else}}
	        		<td><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td> -->
	        		{{/if}}
	        		{{#if not available favorite }}
	        		<td><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class=''>★</h1></td>
	        		{{/if}}
	        	</tr>
	        	{{/each}}
	        {{/ifEsInputIsEmpty}}	

	      
	   </tbody>
	
	</table>
	</div>
	  
</div>


{{/if}}

{{#if meetings}}
<div style="overflow-y:auto;  height: 470px;">
	{{> esInput index="cloudMeetings" placeholder="Search..." }}
	<div style="overflow-y:auto;  height: 470px;">
	<table class="ui striped celled table">
	
	   <tbody>
	      
	       {{#esEach index="cloudMeetings"}}
	           {{#if available}}
	           			<tr>
	           			<td><i class="green circle icon"></i><span class="directoryName">{{name}} </span><br>{{extension}}</td>
	           			<td class='directoryPhone center aligned'><h1><i class="call icon canCall"></i></h1></td>
	           			<td class='availableCell center aligned'><h1>★</h1></td>
	           			</tr>
	           			{{else}}
					<tr>
	           			<td><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</td>
	           			<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	           			<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td>
	           		</tr>
	           			{{/if}}

	       {{/esEach}}
	       {{#ifEsHasNoResults index="cloudMeetings"}}
	               <div class="no-results">No results found!</div>
	        {{/ifEsHasNoResults}}
	        {{#ifEsInputIsEmpty index="cloudMeetings"}}
	        	{{# each meetingsList}}
	        	<tr>
	        		
	        		{{#if available}}
	        		<td><i class="green circle icon"></i><span class="directoryName">{{name}} </span><span class="date">THU</span><br>{{extension}}</td>
	        		<td class='directoryPhone center aligned'><a href='/call/{{_id}}'><h1><i class="call icon canCall"></i></h1></a></td>
	        		<td class='availableCell center aligned'><h1>★</h1></td>
	        		{{else}}
	        		<td><i class="red minus circle icon"></i>{{name}} <br>{{extension}}</td>
	        		<td class='center aligned'><h1><i class=" notAvailable call icon"></i></h1></td>
	        		<td class='availableCell center aligned'><h1 class='notAvailable'>★</h1></td>
	        		{{/if}}
	        	</tr>
	        	{{/each}}
	        {{/ifEsInputIsEmpty}}	

	      
	   </tbody>
	
	</table>
	</div>
	  
</div>

{{/if}}
</template>