<template name="inCall">
    <div class="container homeContainer">
    	<div class="ui grid">
    		<div class="three wide column noPaddingRight shadowCat">
    			<div class="row">
    				<div class="sixteen wide column sideNav endCall"><div class="center aligned"><h1><i class=" call icon"></i></h1></div><div class='center aligned'>END</div></div>
    				<div class="sixteen wide column sideNav even"><div class="center aligned"><h1><i class=" user icon"></i></h1></div><div class='center aligned'>My Info</div></div>
    				<div class="sixteen wide column sideNav odd"><div class="center aligned"><h1><i class=" volume up icon"></i></h1></div><div class='center aligned'>Volume</div></div>
    				<div class="sixteen wide column sideNav even "><div class="center aligned"><h1><i class=" dont icon"></i></h1></div><div class='center aligned'>DND</div></div>
    			</div>
    		</div>
    		<div class="thirteen wide column noPadding ">
    			<div class="statusBar noShadow">
    				<!-- add divided class to this later -->
    				<div class="ui  grid">
    					<div class="row">
    						<div class="thirteen wide column">
    							<div class="right aligned">Call</div>
    						</div>
    						<div class="column"><div class="right aligned"><i class="dont icon pukeGreen"></i></div></div>
    						<div class="column"><div class="right aligned"><i class="record icon pukeGreen"></i></div></div>
    					</div>
    				</div>
    			</div>
    			<div class="features ui grid noMargin">
    				<div class="four wide column greyOdd">Stuff here</div>
    				<div class="four wide column greyEven">More stuff</div>
    				<div class="four wide column greyOdd">Calls n stuff</div>
    				<div class="four wide column greyEven">Testing look</div>
    				

    			</div>

    		</div>
    		
    	</div>
    </div>
</template>
